body{background-color: green; color: azure;}
  h1{font-family: Georgia:
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  color:#black
  background-color:#green;}
  p{font-family: cursive;
  font-size: large;
  color:;black
  background-color: #green;}
  ul li{font-size: x-large;
  font-decoration: italic;}
  